<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>スケジュール管理</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
<h1>スケジュール管理</h1>

{* エラーメッセージを表示する処理 *}
{if $error_message}
    <ul class="error-message">
    {foreach from=$error_message item=message}
    <li>{$message|escape}</li>
    {/foreach}
    </ul>
{/if}

<form method="post" action="{$smarty.server.SCRIPT_NAME}">
    <table>
    <tr>
        <th>開始日時</th>
        <td><input type="datetime-local" name="begin" value="{$data['begin']|escape}" size="50"></td>
    </tr>
    <tr>
        <th>終了日時</th>
        <td><input type="datetime-local" name="end" value="{$data['end']|escape}" size="50"></td>
    </tr>
    <tr>
        <th>場所</th>
        <td><input type="text" name="place" value="{$data['place']|escape}" size="50"></td>
    </tr> 
    <tr>
        <th>内容</th>
        <td colspan="2"><textarea name="content" cols="50" rows="5">{$data['content']|escape}</textarea></td>
    </tr>
    </table>
    <input name="save" type="submit" value="更新する">
</form>
<hr>

</body>
</html>
