<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>スケジュール管理</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
<h1>スケジュール一覧</h1>

{* 掲示板データを表示する処理 *}
{foreach from=$schedule_list item=schedule}
<h2>{$schedule.place|escape}</h2>
<p>{$schedule.begin|date_format:"%Y年%m月%d日 %H:%M"|escape} / 投稿者：<strong>{$schedule.id|escape}</strong></p>
<p>{$schedule.content|escape|nl2br}</p>
<button onclick="location.href='adjust_schedule.php?id={$schedule.id|escape}'">更新</button>
<button onclick="location.href='delete_schedule.php?id={$schedule.id|escape}'">削除</button>
{/foreach}

</body>
</html>
