<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>スケジュール管理</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
<h1>スケジュール管理</h1>

{* エラーメッセージを表示する処理 *}
{if $error_message}
    <ul class="error-message">
    {foreach from=$error_message item=message}
    <li>{$message|escape}</li>
    {/foreach}
    </ul>
{/if}

<form method="post" action="{$smarty.server.SCRIPT_NAME}">
    <table>
    <tr>
        <th>id</th>
        <td><input type="text" name="id" size="30"></td>
    </tr>
    <tr>
        <th>開始日時</th>
        <td><input type="date" name="begin" size="50"></td>
    </tr>
    <tr>
        <th>終了日時</th>
        <td><input type="date" name="end" size="50"></td>
    </tr>
    <tr>
        <th>場所</th>
        <td><input type="text" name="place" size="50"></td>
    </tr>
    <tr>
        <th>内容</th>
        <td colspan="2"><textarea name="content" cols="50" rows="5"></textarea></td>
    </tr>
    </table>
    <input name="save" type="submit" value="登録する">
</form>
<hr>

<!-- {* 掲示板データを表示する処理 *}
{foreach from=$bbs_list item=bbs}
<h2>{$bbs.title|escape}</h2>
<p>{$bbs.date|date_format:"%Y年%m月%d日 %H:%M:%S"|escape} / 投稿者：<strong>
{$bbs.name|escape}</strong></p>
<p>{$bbs.body|escape|nl2br}</p>
{/foreach} -->

</body>
</html>
